fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
pandas
numpy
matplotlib
shap
scikit-learn
joblib
torch
torchvision
transformers
